<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HomeRewrie" stopProcessing="true">
                    <match url="^home$" />
                    <action type="Rewrite" url="/index.cfm" />
                </rule>
                <rule name="CartRewrite" stopProcessing="true">
                    <match url="^cart$" />
                    <action type="Rewrite" url="/cart.cfm" />
                </rule>
                <rule name="PayproductRewrite">
                    <match url="^payment/(\d+)$" />
                    <action type="Rewrite" url="/payment.cfm?pro={R:1}" />
                </rule>
                <rule name="PayRewrite" stopProcessing="true">
                    <match url="^payment$" />
                    <action type="Rewrite" url="/payment.cfm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>