<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="AdminRedirect" stopProcessing="true">
                    <match url="^admin/log.cfm$" />
                    <action type="Redirect" url="/admin/log" redirectType="Permanent" />
                </rule>
                <rule name="AdminRewrite" stopProcessing="true">
                    <match url="^admin/log$" />
                    <action type="Rewrite" url="/admin/log.cfm" />
                </rule>
                <rule name="HomeRedirect" stopProcessing="true">
                    <match url="^index.cfm$" />
                    <action type="Redirect" url="/home" redirectType="Permanent" />
                </rule>
                <rule name="HomeRewrite" stopProcessing="true">
                    <match url="^home$" />
                    <action type="Rewrite" url="/index.cfm" />
                </rule>
                <rule name="LogRewrite" stopProcessing="true">
                    <match url="^log$" />
                    <action type="Rewrite" url="/login.cfm" />
                </rule>
                <rule name="LogCartRewrite" stopProcessing="true">
                    <match url="^log/cart$" />
                    <action type="Rewrite" url="/login.cfm?site=cart" />
                </rule>
                <rule name="LogCartProductRewrite" stopProcessing="true">
                    <match url="^log/cart/(\d+)$" />
                    <action type="Rewrite" url="/login.cfm?site=cart&amp;pro={R:1}" />
                </rule>
                <rule name="LogPayRewrite" stopProcessing="true">
                    <match url="^log/pay/(\d+)$" />
                    <action type="Rewrite" url="/login.cfm?site=pay&amp;pro={R:1}" />
                </rule>
                <rule name="LogoutRewrite">
                    <match url="^log/logout$" />
                    <action type="Rewrite" url="/login.cfm?log=0" />
                </rule>
                <rule name="CartRedirect" stopProcessing="true">
                    <match url="^cart.cfm$" />
                    <action type="Redirect" url="/cart" redirectType="Permanent" />
                </rule>
                <rule name="CartRewrite" stopProcessing="true">
                    <match url="^cart$" />
                    <action type="Rewrite" url="/cart.cfm" />
                </rule>
                <rule name="CartProRedirect">
                    <match url="^cart.cfm?pro=(\d+)$" />
                    <action type="Redirect" url="/cart/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="CartProRewrite">
                    <match url="^cart/(\d+)$" />
                    <action type="Rewrite" url="/cart.cfm?pro={R:1}" />
                </rule>
                <rule name="PayRewrite" stopProcessing="true">
                    <match url="^payment$" />
                    <action type="Rewrite" url="/payment.cfm" />
                </rule>
                <rule name="PayproductRewrite">
                    <match url="^payment/(\d+)$" />
                    <action type="Rewrite" url="/payment.cfm?pro={R:1}" />
                </rule>
                <rule name="ProductRedirect">
                    <match url="^product.cfm$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^pro=(\d+)$" />
                    </conditions>
                    <action type="Redirect" url="/product/{C:1}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="ProductRewrite" stopProcessing="true">
                    <match url="^product/(\d+)$" />
                    <action type="Rewrite" url="/product.cfm?pro={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>